@model TrashCollection.Models.Messages  
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.User.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}
