@model TrashCollection.Models.AddressDateViewModel
@{
    ViewBag.Title = "Account";
}
<h2>Account</h2>
@Html.ActionLink("Add Address", "AddAddress", "Customer")
@if (Model.userAddresses.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in Model.addresses)
            {
                
                <tr>
                    <td>@address.addressLine</td>
                    <td>@address.City.name @address.City.State.Name</td>
                    @if(Model.userAddresses.Where(m => m.Address.ID == address.ID).First().IsActive)
                    {
                        <td>Active @Html.ActionLink("Change", "ChangeActive", "Customer", new { id = Model.userAddresses.Where(m => m.Address.ID == address.ID).First().ID }, null)</td>
                    }
                    else
                    {
                        <td>ctive @Html.ActionLink("Change", "ChangeActive", "Customer", new { id = Model.userAddresses.Where(m => m.Address.ID == address.ID).First().ID }, null)</td>
                    }
                    
                @if (Model.Days.Where(data => data.UserAddress.ID == address.ID).ToList().Count > 0)
                {
                    foreach (var thing in Model.Days.Where(data => data.UserAddress.ID == address.ID).ToList())
                    {
                        <td>@thing.Day.DayPrefix</td>
                    }
                }
                    <td>@Html.ActionLink("Edit Days", "EditDays", "Customer", new { id = address.ID }, null)</td>
                    <td>@Html.ActionLink("Remove", "DeleteAddress", "Customer", new { id = address.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div><p>You currently have no addresses. Please click the 'Add Address' button to add an address.</p></div>
}

